%ul.list-unstyled
  %li
    - if conversation.user == current_user || conversation.group.organization.admin?(current_user)
      %form.pull-right.a-corner-action#delete-conversation-form{:role => "delete_conversation", :action => conversation_path(conversation), :method => :post}
        %input{:name => "_method", :type => "hidden", :value => "delete"}
        %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
        %button.btn.btn-info.btn-sm.delete-conversation-btn{:type => "submit", :title => "Delete Conversation", :data => {toggle: "tooltip", container: 'body'} }
          %i.fa.fa-lg.fa-trash-o
    %h5.text-primary
      = conversation.title
  %li
    %small
      %strong
        #{conversation.user.email}
      posted to
      %strong
        #{conversation.group.name}
      group on
      %strong
        #{l conversation.created_at, format: :short}
  %li
    %small
      #{conversation.messages.count} messages. Last message on #{l conversation.updated_at, format: :short}
