%h4.list-group-item-heading
  .row
    .col-md-9
      = conversation.title
    .col-md-3
      %span.label.label-primary
        #{conversation.group.name}
      - if conversation.user == current_user || conversation.group.organization.admin?(current_user)
        %form.pull-right#delete-conversation-form{:role => "delete_conversation", :action => conversation_path(conversation), :method => :post}
          %input{:name => "_method", :type => "hidden", :value => "delete"}
          %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
          %button.btn.btn-info.btn-sm.delete-conversation-btn{:type => "submit", :title => "Delete Conversation", :data => {toggle: "tooltip", container: 'body'} }
            %i.fa.fa-lg.fa-trash-o
%h5.list-group-item-heading
  %ul.list-inline
    %li
      #{conversation.user.email}
    %li
      #{conversation.messages.count} messages
    %li
      %small
        Started on #{l conversation.created_at, format: :short}
    %li
      %small
        Last message on #{l conversation.updated_at, format: :short}
