- conversations.each do |conversation|
  %h4
    = conversation.title
    %small
      = conversation.group.name
  %p
    = "From: #{conversation.user.email}"
  - conversation.messages.each do |message|
    %strong
      = message.user.email
    %p
      = message.body
