.row
  .col-md-offset-1.col-md-10
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#timeline", "data-toggle" => "tab"}
          Timeline
      %li
        %a{:href => "#notifications", "data-toggle" => "tab"}
          Notifications

    .tab-content.pane-frame
      .tab-pane.active.pane#timeline
        = "#{@user.groups_by_org.keys.count} Organizations, #{@user.groups.count} Groups, #{@user.conversations.count} Conversations, #{@user.messages.count} Messages"



    .tab-pane.pane#notifications





.row
  .col-md-offset-2.col-md-8
    %h2
      = @user.email
    %h3
      %ul.list-inline
        %li
          Organizations
          %small
            = "(#{@user.groups_by_org.keys.count})"
        %li
          Groups
          %small
            = "(#{@user.groups.count})"
    - @user.groups_by_org.each do |organization, groups|
      .row
        %h4
          %ul.list-inline
            %li
              %a{:href => organization_path(organization)}
                = organization.name
            - if organization.admin?(current_user)
              %a.btn.btn-primary{:href => organization_manage_path(organization)}
                %i.fa.fa-edit
                Manage
      - groups.each do |group|
        .row
          .col-md-offset-1.col-md-11
            %ul.list-unstyled
              %li
                %h5
                  = group.name
                  %small
                    = "Joined at #{l group.created_at, format: :short}"
