.row
  .col-md-offset-1.col-md-10
    %h4.text-primary
      #{@user.email}

    %ul.list-unstyled
      %li
        Member since #{l @user.created_at, format: :short}
      %li
        Member of #{@user.organizations.count} Organizations & #{@user.groups.count} Groups
      %li
        Started #{@user.conversations.count} Conversations
      %li
        Posted #{@user.messages.count} Messages

    %ul.nav.nav-tabs
      %li{:class => ("active" unless @user.notifications.empty?)}
        %a{:href => "#notifications", "data-toggle" => "tab"}
          Notifications
          = render partial: "shared/badge", locals: {count: @user.notifications.count}
      %li{:class => ("active" if @user.notifications.empty?)}
        %a{:href => "#timeline", "data-toggle" => "tab"}
          Timeline

    .tab-content
      .tab-pane.pane#notifications{:class => ("active" unless @user.notifications.empty?)}
        - if @user.notifications.empty?
          .alert.alert-info
            Woohoo. Congratulations. No unread notifications.
        - else
          %ul.list-group
            %li.list-group-item
              %a.mark-all-notifications{:href => "#", :title => "Mark all as read", :data => {toggle: "tooltip", ids: @user.notifications.map{|a| a.id}} }
                %i.fa.fa-check.fa-2x
              All Notifications
              = render partial: "shared/badge", locals: {count: @user.notifications.count}
            - @user.notifications.group_by{|n| n.organization}.each do |organization, notifications|
              %li.list-group-item
                %a.mark-all-notifications{:href => "#", :title => "Mark all as read", :data => {toggle: "tooltip", ids: @user.notifications.map{|a| a.id}} }
                  %i.fa.fa-check.fa-2x
                %a{:href => organization_path(organization)}
                  #{organization.name}
                = render partial: "shared/badge", locals: {count: notifications.count}
              - notifications.group_by{|n| n.conversation}.each do |conversation, notifications|
                -# Conversation == nil means notifications are special
                - if conversation.nil?
                  - notifications.sort_by{|n| n.created_at}.each do |notification|
                    %li.list-group-item
                      %a.mark-notification{:href => "#", :title => "Mark as read", :data => {toggle: "tooltip", id: notification.id} }
                        %i.fa.fa-check
                      -# This is a JOIN_GROUP action. Should handle better when we have more actions
                      #{notification.action.user.email} has joined
                      %a{:href => organization_path(organization, group: notification.action.actionable)}
                        #{notification.action.actionable.name}
                      %small
                        = l notification.created_at, format: :short
                - else
                  - notifications.group_by{|n| n.conversation}.each do |conversation, notifications|
                    %li.list-group-item
                      %a.mark-notification{:href => "#", :title => "Mark as read", :data => {toggle: "tooltip", ids: notifications.map{|n| n.id}} }
                        %i.fa.fa-check
                      #{notifications.map{|n| n.action.user.email}.uniq.join(" ")} has posted to
                      %a{:href => conversation_path(conversation)}
                        #{conversation.title}

      .tab-pane.pane#timeline{:class => ("active" if @user.notifications.empty?)}
        %ul.list-group
          - @user.actions.where(action_type: [Action::Type::JOIN_GROUP, Action::Type::START_CONVERSATION]).each do |action|
            %li.list-group-item
              - if action.action_type == Action::Type::JOIN_GROUP
                Joined
                %a{:href => organization_path(action.actionable.organization, group: action.actionable)}
                  #{action.actionable.name}
                Group of
                %a{:href => organization_path(action.actionable.organization)}
                  #{action.actionable.organization.name}
              - else
                Started
                %a{:href => conversation_path(action.actionable)}
                  #{action.actionable.title}
                in
                %a{:href => organization_path(action.actionable.group.organization, group: action.actionable.group)}
                  #{action.actionable.group.name}
                Group of
                %a{:href => organization_path(action.actionable.group.organization)}
                  #{action.actionable.group.organization.name}

              %small
                = l action.created_at, format: :short
