.row
  .col-md-offset-1.col-md-10
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#timeline", "data-toggle" => "tab"}
          Timeline
      %li
        %a{:href => "#notifications", "data-toggle" => "tab"}
          Notifications

    .tab-content.pane-frame
      .tab-pane.active.pane#timeline
        .row
          .col-md-offset-1.col-md-5
            %h3.text-info
              = "#{@user.organizations.count} Organizations, #{@user.groups.count} Groups"
            - @user.memberships_by_org.each do |organization, memberships|
              %h4
                %a{:href => organization_path(organization)}
                  = organization.name
              .row
                .col-md-offset-1.col-md-11
                  %ul.list-unstyled
                    - memberships.each do |membership|
                      %li
                        %a{:href => organization_path(organization, group: membership.group)}
                          = membership.group.name
                        %small
                          = "Joined at #{l membership.created_at, format: :short}"


          .col-md-5
            %h3.text-info
              = "#{@user.conversations.count} Conversations, #{@user.messages.count} Messages"

      .tab-pane.pane#notifications
        This is the notifications page
