.thumbnail.ap-org-summary{:data => {organization_uri: organization_path(organization)}}
  .caption
    %h4
      %a{:href => organization_path(organization)}
        = organization.name
    - organization.tags.each do |tag|
      .pull-left
        %span.label.label-info
          = tag.name
    .clearfix
    %ul.list-unstyled
      %li
        %small
          %a{:href => organization.website}
            = organization.website
      %li
        = organization.summary
      %li
        %small
          #{organization.default_group.memberships.count} Members / #{organization.conversations.count} Conversations
