.row
  .visible-xs
    .alert.alert-info
      Organization management is only available on laptops. Please visit aperio from your laptop in order to manage your organization.
  .col-md-offset-1.col-md-10.hidden-xs
    %h2
      %a{:href => organization_path(@organization)}
        = @organization.name
    .btn-group
      %button.btn.btn-default{:type => "button", :disabled => "disabled"}
        = "#{@group.name} - #{@group.users.count} members"
      %button.btn.btn-default.dropdown-toggle{:type => "button", :data => { toggle: "dropdown" }}
        %span.caret
        %span.sr-only
          Toggle Dropdown
      %ul.dropdown-menu{:role => "menu"}
        - @organization.groups.each do |group|
          %li{:class => ("disabled" if group == @group)}
            %a{:href => organization_manage_path(@organization, group: group.id)}
              = "#{group.name} - #{group.users.count} members"

    %hr
    %ul.list-inline
      %li
        %h4
          = @group.name
      %li
        %form.form-inline{:role => "add_member", :action => group_join_path(@group), :method => :post}
          %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
          .form-group
            %label.sr-only{:for => "member_name"}
              Member Name
            %input.form-control{:type => "email", :name => "member_name", :id => "member_name", :placeholder => "Member Name"}
          %button.btn.btn-primary{:type => "submit"}
            Add Member
    %table.table.table-striped
      %tbody
        - if @group.users.empty?
          %tr
            %td
              No members.
        - else
          - @group.users.each do |user|
            %tr
              %td
                = user.email
              %td
                = "Joined at #{l membership(@group, user).created_at, format: :short}"
