.row
  .col-md-offset-1.col-md-7
    %ul.list-unstyled
      %li
        %h2
          .btn-group.pull-right.a-corner-action
            - if @organization.admin?(current_user)
              %a.btn.btn-warning{:href => organization_manage_path(@organization), :title => "Manage Organization", :data => {toggle: "tooltip", container: 'body'} }
                %i.fa.fa-gear.fa-lg
            - if @organization.member?(current_user) && (@group.nil? || @group.member?(current_user))
              %a.btn.btn-info{:href => new_conversation_path(organization: @organization.id), :title => "Start Conversation", :data => {toggle: "tooltip", container: 'body'} }
                %i.fa.fa-pencil.fa-lg
          - unless @organization.member?(current_user)
            .pull-right
              = render partial: "shared/button_to", locals: {target: organization_join_path(@organization), value: "", icon: "fa fa-sign-in fa-lg", block:false, title: "Join"}
          %a{:href => organization_path(@organization)}
            = @organization.name
      %li
        %h4
          - @organization.tags.each do |tag|
            %span.label.label-info
              = tag.name
      %li
        %h4
          %a{:href => @organization.website}
            %small
              = @organization.website
    %p
      = @organization.description
    = render partial: "conversations/index", locals: { conversations: filter_conversations(@organization.conversations, group: @group, user: current_user), user: current_user, organization: @organization, group: @group }
  .col-md-3
    %h3
      Groups
    - if @organization.member?(current_user)
      .list-group
        - @organization.groups.each do |group|
          - if group.visible || group.member?(current_user)
            %a.list-group-item{:href => organization_path(@organization, group: group), :class => ("active" if @group == group)}
              = group.name
              - if !group.member?(current_user) && !group.private
                .pull-right
                  = render partial: "shared/button_to", locals: {target: group_join_path(group), value: "", icon: "fa fa-sign-in fa-lg", block: false, title: "Join"}
              - if group.member?(current_user)
                .pull-right
                  = render partial: "shared/badge", locals: {count: current_user.group_conversation_notifications(group).count}
              %br
              %small
                - if group.private && !group.member?(current_user)
                  Private Group
                - else
                  = "#{group.memberships.count} members #{'including you' if group.member?(current_user)}, #{group.conversations.count} conversations"
    - else
      %ul.list-group
        - @organization.groups.each do |group|
          - if group.visible
            %li.list-group-item
              #{group.name}
              %br
              %small
                - if group.private
                  Private Group
                - else
                  = "#{group.memberships.count} members #{'including you' if group.member?(current_user)}, #{group.conversations.count} conversations"

      = render partial: "shared/button_to", locals: {target: group_join_path(@organization.default_group), value: "Join Organization", icon: "", block: true, title: "Join Organization"}
