!!! 5
%html
  %head
    %title
      Aperio
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    <!-- Display well on mobile -->
    %meta{"name" => "viewport", "content" => "initial-scale=1.0, user-scalable=no"}
  %body
    = render partial: "shared/header"
    .container-fluid
      - if flash[:notice]
        .row
          .col-md-offset-3.col-md-6
            .center-block
              .alert.alert-info
                = flash[:notice]
      = yield
