!!! 5
%html
  %head
    %title
      aperio
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    <!-- Display well on mobile -->
    %meta{"name" => "viewport", "content" => "initial-scale=1.0, user-scalable=no"}
  %body
    = render partial: "shared/header"
    .container-fluid
      - if flash[:notice]
        .row
          .col-md-offset-3.col-md-6
            .center-block
              .alert.alert-info.alert-dismissable
                %button.close{:type => "button", "aria-hidden" => "true", :data => {dismiss: "alert"} }
                  &times;
                = flash[:notice]
      = yield
    .fade.modal#a-alert{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "aAlertLabel", "aria-hidden" => "true"}
      .modal-dialog
        .modal-content
          .modal-header.bg-primary
            %button.close{:type => "button", "aria-hidden" => true, :data => {dismiss: "modal"}}
              &times;
            %h4.modal-title#aAlertLabel
              Aperio - Are you sure?
          .modal-body#a-alert-message
          .modal-footer
            %button.btn.btn-primary#a-alert-confirm{:type => "button"}
              Yes
            %button.btn.btn-default{:type => "button", :data => {dismiss: "modal"} }
              No
